
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="wrapper">
        <div class="logo"> <img src="~/img/vote0.png" alt=""> </div>
        <div class="text-center mt-4 name"> E-Seçim </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span> 
                <input type="text" name="userName" id="userName" placeholder="Kullanıcı Adı">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span> 
                <input type="password" name="password" id="pwd" placeholder="Şifre">
            </div>

        </form>

        <div class="text-center">
            <button class="btn mt-3">Kaydol  </button>
        </div>
    </div>
</div>>
